@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<p><strong>NOTE:</strong> You need to have at least one category before you can add an item!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Categories") to create a category.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @:&nbsp;
  @Html.TextBoxFor(model => model.Description)
  <br>

  @Html.LabelFor(model => model.Category)
  @:&emsp;&nbsp;
  @Html.DropDownList("CategoryId")
  @:&nbsp;
  <br>

  @Html.LabelFor(model => model.DueDate)
  @:&emsp;&ensp;
  @Html.TextBoxFor(model => model.DueDate, new { @type = "date" })
  @:&nbsp;
  <br><br>

  <input type="submit" value="Add new item"/>
  <br><br>
}