@{
  Layout = "_Layout";
}

@using ToDoList.Models;

<div id="list">
  @if (@Model.Count == 0)
  {
    <h3>No items have been added yet!</h3>
  }
  else
  {
    @foreach (Item item in Model)
    {
      @if (item.Complete)
      {
        <div class="card card-complete">
          <div class="card-body">
            <s>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })</s> | @item.Category.Name 
          </div>
        </div>
      }
      else
      {
        <div class="card card-incomplete">
          <div class="card-body">
            @Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId }) | @item.Category.Name | @item.DueDate
          </div>
        </div>
      }
    }
  }
</div>